target/
!.mvn/wrapper/maven-wrapper.jar

.idea/**
.idea
*.iml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
zhixinshu
zhixinshu/**
sources
sources/**
*.class


# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse projects files
.settings/**
.metadata/**
.mvn/**
.settings/**
Servers/**
.mvn/wrapper/**
.springBeans
mvnw
mvnw.cmd

logs/**
# project's specific
*.log
target/*
/target/
/bin/
dataanalysis/target/*
dataground/target/*
datainstall/target/*
dataanalysis/.*
dataground/.*
datainstall/.*

# yml config
dataanalysis/src/main/resources/application.yml
dataground/src/main/resources/application.yml
datainstall/src/main/resources/application.yml
